a {
  color: black;
  text-decoration: none;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(13, 27, 39);
  background: radial-gradient(circle, rgb(13, 27, 39) 0%, rgb(13, 14, 39) 39%, rgb(11, 10, 29) 71%, rgb(9, 18, 27) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.register__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.register__back {
  position: absolute;
  top: 40px;
  left: 40px;
}
.register__back i {
  color: #fff;
  font-size: 22px;
  transition: color 0.3s;
}
.register__back i:hover {
  color: #a42312;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3rem 6.4rem;
}
.form-contact .box-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.form-contact .box-circle .fa-user {
  font-size: 4rem;
  color: #fff;
}
.form-contact .register__title {
  text-align: center;
  margin-bottom: 3.2rem;
  color: #fff;
  padding-top: 20px;
}
.form-contact .input-form {
  width: 100%;
  border: 0;
  background: transparent;
  padding: 2px 0.5rem;
  color: #fff;
}
.form-contact .input-form:focus {
  outline: none;
}
.form-contact .register__error--username,
.form-contact .register__error--password {
  display: none;
}
.form-contact .box-helper-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 3.2rem;
}
.form-contact .box-helper-elements .register__checkbox {
  margin: 0;
}
.form-contact .box-helper-elements .tos__link {
  color: skyblue;
}
.form-contact .box-helper-elements .register__label--text,
.form-contact .box-helper-elements .register__a--register {
  color: #fff;
}
.form-contact .register__btn {
  margin-bottom: 3.2rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6039215686);
  color: #fff;
  border-radius: 2px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.form-contact .register__btn:hover {
  background-color: #fff;
  color: black;
}
.form-contact .register__input--username {
  margin-bottom: 2rem;
}
.form-contact .register__input--password {
  margin-bottom: 2rem;
}
.form-contact .register__input--passwordrepeat {
  margin-bottom: 10px;
}
.form-contact .register__input--password,
.form-contact .register__input--username,
.form-contact .register__input--passwordrepeat {
  display: flex;
  width: 100%;
  padding: 0.1rem;
  border-bottom: 1px solid #fff;
}
.form-contact .register__input--password .fa-solid,
.form-contact .register__input--username .fa-solid,
.form-contact .register__input--passwordrepeat .fa-solid {
  color: white;
}
.form-contact .btn__loginnow {
  color: #fff;
}
.form-contact .login__link {
  color: skyblue;
}/*# sourceMappingURL=register.css.map */