@keyframes rotateRight {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes rotateLeft {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0d1b27;
  color: #fff;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section {
  scroll-margin-top: 87px;
}
.section__heading {
  padding: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 5rem;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
.section__cutter {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #09121b;
  z-index: -5;
  box-shadow: 0 0 20px #000;
}
.section__cutter-shadowbottom {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 80px;
  z-index: 10;
  overflow: hidden;
}
.section__cutter-shadowbottom .section__cutter-middle {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  height: 40px;
  width: 30%;
  background-color: #09121b;
}
.section__cutter-shadowbottom .section__cutter-middle-right {
  left: 19%;
  transform: skew(-45deg);
  box-shadow: 0 0 20px #000;
}
.section__cutter-shadowbottom .section__cutter-middle-left {
  right: 19%;
  transform: skew(45deg);
  box-shadow: 0 0 20px #000;
}
.section__cutter-shadowbottom .section__cutter-middle-center {
  left: 40%;
  z-index: 10;
}
.section__cutter-bottom {
  bottom: 0;
}
.section__cutter-top {
  top: 0;
}
.section__cutter-shadowtop {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 80px;
  z-index: 10;
  overflow: hidden;
}
.section__cutter-shadowtop .section__cutter-right {
  position: absolute;
  top: 0;
  right: -50px;
  height: 40px;
  width: 30%;
  background-color: #09121b;
  transform: skew(45deg);
  overflow: hidden;
  box-shadow: 0 0 20px #000;
}
.section__cutter-shadowtop .section__cutter-left {
  position: absolute;
  top: 0;
  left: -50px;
  height: 40px;
  width: 30%;
  background-color: #09121b;
  transform: skew(-45deg);
  box-shadow: 0 0 20px #000;
}
.section-animationSL {
  animation: slide-left 0.5s ease-out 0.2s forwards;
}
.section-animationRL {
  animation: slide-right 0.5s ease-out 0.2s forwards;
}

nav {
  position: fixed;
  width: 100%;
  padding-top: 2rem;
  transition: background-color 0.3s, box-shadow 0.3s, padding-top 0.3s;
  z-index: 1000;
}
nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  transition: scale 0.3s;
}
nav .navbar__logo {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 3rem;
}
nav .navbar__logo a {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
nav .navbar__logo img {
  width: 100%;
}
nav .navbar__menu {
  display: none;
}
nav .navbar__menu a {
  position: relative;
}
nav .navbar__menu a::after,
nav .navbar__menu a::before {
  content: "";
  position: absolute;
  bottom: 0.5em;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav .navbar__menu a::after {
  left: 50%;
  transform-origin: left;
}
nav .navbar__menu a::before {
  right: 50%;
  transform-origin: right;
}
nav .navbar__menu a:hover::after,
nav .navbar__menu a:hover::before {
  transform: scaleX(0.4);
}
nav .navbar__menu a:hover::after {
  transform-origin: left;
}
nav .navbar__menu a:hover::before {
  transform-origin: right;
}
nav .navbar__account {
  display: none;
}
nav .navbar__account a {
  position: relative;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
nav .navbar__account a::after,
nav .navbar__account a::before {
  content: "";
  position: absolute;
  bottom: 0.1em;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav .navbar__account a::after {
  left: 50%;
  transform-origin: left;
}
nav .navbar__account a::before {
  right: 50%;
  transform-origin: right;
}
nav .navbar__account a:hover::after,
nav .navbar__account a:hover::before {
  transform: scaleX(0.5);
}
nav .navbar__account a:hover::after {
  transform-origin: left;
}
nav .navbar__account a:hover::before {
  transform-origin: right;
}
nav .navbar__burger {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
nav .navbar__burger-icon {
  padding: 20px;
  cursor: pointer;
}
nav .navbar__mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #232f56;
  transform: translateX(100%);
  transition: 0.3s ease-out;
  z-index: 100;
}
nav .navbar__mobile--active {
  transform: translateX(0);
}
nav .navbar__mobile-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 4rem;
  font-size: 5rem;
  cursor: pointer;
}
nav .navbar__mobile a {
  position: relative;
  padding: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}
nav .navbar__mobile a::after {
  content: "";
  position: absolute;
  bottom: 0.5em;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
nav .navbar__mobile a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav .navbar__mobile a:hover {
  color: #fff;
}

.nav__scroll {
  background-color: #0b111a;
  box-shadow: 0 0 20px #000;
  padding-top: 0;
}

.navbar__scroll {
  scale: 0.8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("../img/header_mini.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px #000;
}
.header__text {
  margin-top: 12rem;
  padding: 3rem;
  cursor: default;
}
.header__text h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
.header__text h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
.header__text h1 span {
  white-space: nowrap;
}
.header__text-bold {
  font-weight: bold;
}
.header__text p {
  font-size: 1.5rem;
}
.header__socials {
  padding: 10px 0;
}
.header__socials a {
  margin-right: 20px;
  font-size: 2.5rem;
  color: #fff;
  transition: font-size 0.3s, color 0.3s;
}
.header__socials a:hover {
  color: #acacac;
  font-size: 2.42rem;
}
.header button {
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 45px;
  border: transparent;
  box-shadow: 0 0 14px #a42312;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  background-color: #a42312;
  text-shadow: 2px 2px 3px black;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.header button a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.header button:hover {
  box-shadow: 0 0 5px #a42312;
}
.header button:hover a {
  color: #acacac;
}

.about {
  position: relative;
  padding: 4rem 0;
}
.about .icons {
  position: absolute;
  animation: rotateLeft 45s infinite linear;
  color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.about .icons:nth-child(2) {
  top: 50%;
  left: 20%;
  rotate: -80deg;
  font-size: 8rem;
  animation: rotateRight 45s infinite linear;
  animation-delay: -20s;
}
.about .icons:nth-child(3) {
  top: 80%;
  left: 70%;
  rotate: 140deg;
  font-size: 12rem;
  animation-delay: -10s;
}
.about .icons:nth-child(4) {
  top: 20%;
  left: 62%;
  rotate: 20deg;
  font-size: 10rem;
  animation-delay: -40s;
}
.about__blocks {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5rem;
}
.about__block {
  padding: 20px;
  margin: 5%;
  border-radius: 20px;
  background-color: rgba(21, 44, 64, 0.6);
  opacity: 0;
  transition: background-color 0.3s;
}
.about__block:hover {
  background-color: #0d1b27;
  box-shadow: 0 0 20px #232f56;
}

.faq .icons:nth-child(2) {
  top: 50%;
  left: 70%;
}
.faq .icons:nth-child(3) {
  top: 80%;
  left: 20%;
}
.faq .icons:nth-child(4) {
  top: 20%;
  left: 31%;
  rotate: 20deg;
}
.faq__text p {
  margin-bottom: 1em;
}
.faq__text .question__title, .faq__text span {
  font-weight: bold;
}
.faq .about__block span {
  color: skyblue;
}

.offers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/cards.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px #000;
  color: #ffffff;
}
.offers__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.offers .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  max-width: 350px;
  margin: 4rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  transition: transform 0.3s;
}
.offers .card:hover {
  transform: rotateY(0);
}
.offers .card__body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  padding: 40px 0;
}
.offers .card__body h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 40px;
}
.offers .card__body ul {
  font-size: 1.4rem;
  margin-bottom: 5px;
  padding: 0 1.4em;
  text-align: left;
  margin-top: 20px;
}
.offers .card__body ul li {
  margin: 10px;
}
.offers .card__body ul li span {
  color: #a42312;
  font-weight: bold;
}
.offers .card .card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.offers .card .card__footer button {
  width: 150px;
  padding: 1rem;
  margin-bottom: 15px;
  font-size: 1.7rem;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: rgba(164, 35, 18, 0.75);
  color: #fff;
  border: transparent;
  font-weight: bold;
  box-shadow: 0 0 10px #a42312;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.2s;
}
.offers .card .card__footer button:hover {
  box-shadow: 0 0 15px #72190d;
  background-color: #72190d;
}

.contact {
  position: relative;
  padding: 4rem 0 14rem;
}
.contact form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}
.contact form textarea {
  min-height: 20rem;
  min-width: 100%;
  max-width: 100%;
}
.contact form button {
  width: 50%;
  background-color: rgba(21, 44, 64, 0.6);
  opacity: 0.8;
  padding: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: outline 0.3s, color 0.3s, box-shadow 0.2s, background-color 0.3s;
  place-content: center;
}
.contact form button:hover,
.contact form button:focus {
  background-color: #6398ad;
  box-shadow: 0 0 10px #6398ad;
  outline: none;
  color: #0d1b27;
}
.contact__inputs {
  background-color: rgba(21, 44, 64, 0.6);
  border-radius: 8px;
  padding: 1rem;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  transition: outline 0.3s, box-shadow 0.2s, background-color 0.3s;
}
.contact__inputs::-moz-placeholder {
  color: #fff;
}
.contact__inputs::placeholder {
  color: #fff;
}
.contact__inputs:focus {
  background-color: #6398ad;
  box-shadow: 0 0 10px #6398ad;
  outline: none;
  color: #000;
}
.contact__inputs:focus::-moz-placeholder {
  color: #0d1b27;
}
.contact__inputs:focus::placeholder {
  color: #0d1b27;
}
.contact__inputs:not(:-moz-placeholder-shown) {
  color: #fff;
}
.contact__inputs:not(:placeholder-shown) {
  color: #fff;
}
.contact__element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}
.contact__element-button {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.contact__headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__heading {
  width: 100%;
}
.contact .error-text {
  font-size: 1.5rem;
  color: #87ceeb;
}
.contact .form-box .error-text {
  font-weight: bold;
  visibility: hidden;
}
.contact .form-box.error .error-text {
  visibility: visible;
}
.contact .popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 200px;
  background: linear-gradient(90deg, #6398ad, transparent, #6398ad) #87ceeb;
  border-radius: 8px;
  border: 2px solid #0d1b27;
  transition: top 0.5s;
  z-index: 1000;
}
.contact .popup p {
  font-size: 28px;
  color: #0d1b27;
}
.contact .popup .close {
  margin-top: 20px;
}
.contact .show-popup {
  top: 50%;
}

.footer {
  background-color: #09121b;
}
.footer__box {
  display: flex;
  padding: 3rem 0;
  width: 100%;
}
.footer__box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}
.footer__box-left .footer__logo {
  width: 50%;
}
.footer__box-left .footer__links {
  padding-top: 3rem;
  display: flex;
}
.footer__box-left .footer__links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 3rem;
  padding: 0.7rem;
  color: #fff;
  border: 1px solid #a42312;
  border-radius: 5px;
  margin: 1rem;
  transition: background-color 0.3s;
}
.footer__box-left .footer__links a:hover {
  background-color: #a42312;
}
.footer__box-left .footer__links a .fa-brands {
  font-size: 1.4rem;
}
.footer__box-right {
  display: none;
  justify-content: space-evenly;
  width: 50%;
}
.footer__column {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-size: 2rem;
}
.footer__column h2 {
  color: #a42312;
  font-size: 1.6rem;
  cursor: default;
}
.footer__column a {
  padding: 0.5rem 0;
  white-space: nowrap;
  color: #fff;
  transition: color 0.3s;
}
.footer__column a:hover {
  color: #acacac;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.otherSection__bgc {
  background: radial-gradient(circle, rgb(13, 27, 39) 0%, rgb(13, 14, 39) 39%, rgb(11, 10, 29) 71%, rgb(9, 18, 27) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.otherSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.otherSection__terms {
  height: 120vh;
}
.otherSection__back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
}
.otherSection__back i {
  color: #fff;
  font-size: 3rem;
  transition: color 0.3s;
}
.otherSection__back:hover i {
  color: #a42312;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.login a {
  color: #87ceeb;
  transition: color 0.3s;
}
.login a:hover {
  color: #6398ad;
}
.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 1rem 2rem;
}
.login__form-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.login__form-circle i {
  font-size: 3rem;
  color: #fff;
}
.login__title {
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.login__inputBox {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}
.login__inputBox .fa-solid {
  font-size: 1rem;
  color: #fff;
}
.login__inputBox .login__input {
  width: 100%;
  border: 0;
  background: transparent;
  color: #fff;
  padding: 2px 0.5rem;
  font-size: 1rem;
}
.login__inputBox .login__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.login__inputBox .login__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.login__inputBox .login__input:focus {
  outline: none;
}
.login__inputBox .login__error {
  display: none;
  font-size: 1rem;
}
.login__inputBox:nth-last-child(4) {
  margin-bottom: 0.3rem;
}
.login__helper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
}
.login__helper a {
  text-align: right;
  padding-left: 1rem;
}
.login__helper label {
  padding-right: 1rem;
}
.login__helper .login__checkbox {
  position: relative;
  vertical-align: middle;
  margin: 0;
  margin-top: -0.2rem;
  width: 1.1rem;
}
.login__btn {
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  background: transparent;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.2rem;
  cursor: pointer;
}
.login__btn:hover {
  background-color: #fff;
  color: black;
}
.login__paragraph {
  font-size: 1rem;
  text-align: center;
}
.login__nowrap {
  white-space: nowrap;
}

.register__helper a {
  padding-left: 0;
}
.register__helper label {
  padding-right: 0;
}

.recovery__title {
  margin: 0.2rem;
}
.recovery__text {
  margin-bottom: 2rem;
  text-align: center;
}
.recovery__btn {
  margin-top: 1rem;
}

.terms {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  margin-top: 20rem;
}
.terms li {
  margin-bottom: 3rem;
}
.terms__title {
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.terms__text {
  font-size: 2rem;
}

.found {
  font-size: 10rem;
  transition: opacity 0.3s;
}
.found:hover {
  opacity: 1;
}
.found__defaults {
  color: #232f56;
  opacity: 0.5;
  cursor: default;
}
.found__text {
  font-size: 5rem;
}
.found__text p {
  transition: opacity 0.3s;
}
.found__text p:hover {
  opacity: 1;
}

@media (min-width: 576px) {
  nav .navbar__logo img {
    width: 50%;
  }
  .header__text {
    padding-right: 5%;
    padding-left: 10%;
  }
  .footer__box-left .footer__logo {
    width: 30%;
  }
}
@media (min-width: 772px) {
  @keyframes cardSlide-left {
    0% {
      opacity: 0;
      transform: translate(20%, 0);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 40deg);
    }
  }
  @keyframes cardSlide-right {
    0% {
      opacity: 0;
      transform: translate(-20%, 0);
    }
    100% {
      opacity: 1;
      transform: translate(50%, -40deg);
    }
  }
  .section {
    scroll-margin-top: 94px;
  }
  .section__heading {
    padding: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 5rem;
    font-family: "Open Sans", sans-serif;
    cursor: default;
  }
  .section__cutter {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #09121b;
    z-index: -5;
    box-shadow: 0 0 20px #000;
  }
  .section__cutter-shadowbottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 80px;
    z-index: 10;
    overflow: hidden;
  }
  .section__cutter-shadowbottom .section__cutter-middle {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0);
    height: 40px;
    width: 10%;
    background-color: #09121b;
  }
  .section__cutter-shadowbottom .section__cutter-middle-right {
    left: 39.5%;
    transform: skew(-45deg);
    box-shadow: 0 0 20px #000;
  }
  .section__cutter-shadowbottom .section__cutter-middle-left {
    right: 39.5%;
    transform: skew(45deg);
    box-shadow: 0 0 20px #000;
  }
  .section__cutter-shadowbottom .section__cutter-middle-center {
    left: 50%;
    z-index: 10;
  }
  .section__cutter-bottom {
    bottom: 0;
  }
  .section__cutter-top {
    top: 0;
  }
  .section__cutter-shadowtop {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 80px;
    z-index: 10;
    overflow: hidden;
  }
  .section__cutter-shadowtop .section__cutter-right {
    position: absolute;
    top: 0;
    right: -50px;
    height: 40px;
    width: 40%;
    background-color: #09121b;
    transform: skew(45deg);
    overflow: hidden;
    box-shadow: 0 0 20px #000;
  }
  .section__cutter-shadowtop .section__cutter-left {
    position: absolute;
    top: 0;
    left: -50px;
    height: 40px;
    width: 40%;
    background-color: #09121b;
    transform: skew(-45deg);
    box-shadow: 0 0 20px #000;
  }
  .section-cardAnimationSL {
    animation: cardSlide-left 0.5s ease-out 0.2s;
  }
  .section-cardAnimationRL {
    animation: cardSlide-right 0.5s ease-out 0.2s;
  }
  nav .navbar {
    font-size: 2rem;
  }
  nav .navbar__logo {
    width: 30%;
  }
  nav .navbar__logo img {
    width: 50%;
  }
  nav .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  nav .navbar__menu a {
    position: relative;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
  nav .navbar__menu .active::after,
  nav .navbar__menu .active::before {
    transform: scaleX(0.4);
  }
  nav .navbar__menu .active::after {
    transform-origin: left;
  }
  nav .navbar__menu .active::before {
    transform-origin: right;
  }
  nav .navbar__account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding: 20px;
  }
  nav .navbar__burger {
    display: none;
  }
  nav .navbar__mobile {
    display: none;
  }
  .header {
    background-image: url("../img/header_max.jpg");
  }
  .header__text {
    padding: 0;
    padding-left: 10%;
    width: 90%;
  }
  .header__text h2 {
    font-size: 3.5rem;
  }
  .header__text h1 {
    font-size: 5rem;
  }
  .header__text p {
    font-size: 1.5rem;
  }
  .header button {
    font-size: 2.5rem;
    padding: 1.5rem;
  }
  .about .icons:nth-child(2) {
    left: 25%;
  }
  .about .icons:nth-child(3) {
    left: 72%;
  }
  .about .icons:nth-child(4) {
    left: 72%;
  }
  .about__block {
    width: 70%;
  }
  .about__block:nth-child(even) {
    margin-left: 25%;
  }
  .about__block:nth-child(odd) {
    margin-right: 25%;
  }
  .faq .icons:nth-child(2) {
    top: 60%;
    left: 74%;
  }
  .faq .icons:nth-child(3) {
    left: 21%;
  }
  .faq .icons:nth-child(4) {
    left: 25%;
  }
  .faq .about__block {
    margin: 5%;
  }
  .faq .about__block:nth-child(even) {
    margin-right: 25%;
  }
  .faq .about__block:nth-child(odd) {
    margin-left: 25%;
  }
  .offers__cards {
    flex-direction: row;
    perspective: 900px;
  }
  .offers .card {
    opacity: 0;
    transform: rotateY(-40deg);
    margin: 0 4rem;
  }
  .offers .card:hover {
    transform: rotateY(0);
  }
  .offers .card:nth-child(1) {
    transform: rotateY(40deg);
  }
  .offers .card:nth-child(1):hover {
    transform: rotateY(0deg);
  }
  .contact__headings {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__box-left {
    width: 30%;
  }
  .footer__box-left .footer__logo {
    width: 80%;
  }
  .footer__box-right {
    display: flex;
    width: 70%;
  }
  .footer__copyright {
    font-size: 1.9rem;
  }
  .otherSection__back i {
    font-size: 4rem;
  }
  .login__form {
    padding: 3rem 5rem;
  }
  .login__form-circle {
    width: 7rem;
    height: 7rem;
  }
  .login__form-circle i {
    font-size: 4rem;
  }
  .login__title {
    margin-bottom: 3.2rem;
    font-size: 2.8rem;
  }
  .login__inputBox {
    margin-bottom: 1rem;
  }
  .login__inputBox .fa-solid {
    font-size: 1.4rem;
  }
  .login__inputBox .login__input {
    font-size: 1.4rem;
  }
  .login__inputBox .login__error {
    font-size: 1.4rem;
  }
  .login__inputBox:nth-last-child(4) {
    margin-bottom: 0.8rem;
  }
  .login__helper {
    margin-bottom: 3.2rem;
    font-size: 1.5rem;
  }
  .login__helper .login__checkbox {
    width: 1.4rem;
  }
  .login__btn {
    margin-bottom: 3.2rem;
    padding: 1rem 3rem;
  }
  .login__paragraph {
    font-size: 1.5rem;
  }
  .recovery__title {
    margin: 0.2rem;
  }
  .recovery__text {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  .recovery__btn {
    margin-top: 3rem;
  }
  .found {
    font-size: 40rem;
    margin-left: 10%;
    margin-top: 5%;
  }
}
@media (min-width: 992px) {
  .header__text {
    width: 70%;
  }
  .contact .error-text {
    font-size: 2rem;
    color: #87ceeb;
  }
  .footer__box-left .footer__logo {
    width: 80%;
  }
  .footer__box-left a {
    width: 50%;
  }
  .footer__box-right {
    margin-left: 30rem;
  }
}/*# sourceMappingURL=style.css.map */