$primary: #0d1b27;
$primarydarker: #09121b;
$primarybrighter: #232f56;
$secondary: #a42312;
$secondarydarker: #72190d;
$third: #87ceeb;
$thirddarker: #6398ad;
$white: #fff;
$whitedarker: #acacac;
$dark: #000;
