@use 'colors' as *;

@media (min-width: 992px) {
	.header {
		&__text {
			width: 70%;
		}
	}

	.contact {
		.error-text {
			font-size: 2rem;
			color: $third;
		}
	}

	.footer {
		&__box {
			a {
				width: 50%;
			}

			img {
				width: 50%;
			}
		}
	}
}
