@use 'colors' as *;

@media (min-width: 992px) {
	.header {
		&__text {
			width: 70%;
		}
	}

	.contact {
		.error-text {
			font-size: 2rem;
			color: $third;
		}
	}

	.footer {
		&__box {
			&-left {
				.footer__logo {
					width: 80%;
				}

				a {
					width: 50%;
				}
			}

			&-right {
				margin-left: 30rem;
			}
		}
	}
}
