@use 'colors' as *;

@media (min-width: 772px) {
	@keyframes cardSlide-left {
		0% {
			opacity: 0;
			transform: translate(20%, 0);
		}

		100% {
			opacity: 1;
			transform: translate(-50%, 40deg);
		}
	}

	@keyframes cardSlide-right {
		0% {
			opacity: 0;
			transform: translate(-20%, 0);
		}

		100% {
			opacity: 1;
			transform: translate(50%, -40deg);
		}
	}

	.section {
		scroll-margin-top: 94px;

		&__heading {
			padding: 50px;
			text-align: center;
			font-weight: 400;
			font-size: 5rem;
			font-family: 'Open Sans', sans-serif;
			cursor: default;
		}

		&__cutter {
			position: absolute;
			height: 40px;
			width: 100%;
			background-color: $primarydarker;
			z-index: -5;
			box-shadow: 0 0 20px $dark;

			&-shadowbottom {
				position: absolute;
				bottom: 40px;
				width: 100%;
				height: 80px;
				z-index: 10;
				overflow: hidden;

				.section__cutter-middle {
					position: absolute;
					bottom: 0;
					transform: translate(-50%, 0);
					height: 40px;
					width: 10%;
					background-color: $primarydarker;

					&-right {
						left: 39.5%;
						transform: skew(-45deg);
						box-shadow: 0 0 20px $dark;
					}

					&-left {
						right: 39.5%;
						transform: skew(45deg);
						box-shadow: 0 0 20px $dark;
					}

					&-center {
						left: 50%;
						z-index: 10;
					}
				}
			}

			&-bottom {
				bottom: 0;
			}

			&-top {
				top: 0;
			}

			&-shadowtop {
				position: absolute;
				top: 40px;
				width: 100%;
				height: 80px;
				z-index: 10;
				overflow: hidden;

				.section__cutter-right {
					position: absolute;
					top: 0;
					right: -50px;
					height: 40px;
					width: 40%;
					background-color: $primarydarker;
					transform: skew(45deg);
					overflow: hidden;
					box-shadow: 0 0 20px $dark;
				}

				.section__cutter-left {
					position: absolute;
					top: 0;
					left: -50px;
					height: 40px;
					width: 40%;
					background-color: $primarydarker;
					transform: skew(-45deg);
					box-shadow: 0 0 20px $dark;
				}
			}
		}

		&-cardAnimationSL {
			animation: cardSlide-left 0.5s ease-out 0.2s;
		}

		&-cardAnimationRL {
			animation: cardSlide-right 0.5s ease-out 0.2s;
		}
	}

	nav {
		.navbar {
			font-size: 2rem;

			&__logo {
				width: 30%;

				img {
					width: 50%;
				}
			}

			&__menu {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40%;

				a {
					position: relative;
					padding: 20px;
					text-decoration: none;
					text-transform: uppercase;
					color: #fff;
				}

				.active::after,
				.active::before {
					transform: scaleX(0.4);
				}

				.active::after {
					transform-origin: left;
				}

				.active::before {
					transform-origin: right;
				}
			}

			&__account {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 30%;
				padding: 20px;
			}

			&__burger {
				display: none;
			}

			&__mobile {
				display: none;
			}
		}
	}

	.header {
		background-image: url('../img/header_max.jpg');

		&__text {
			padding: 0;
			padding-left: 10%;
			width: 90%;

			h2 {
				font-size: 3.5rem;
			}

			h1 {
				font-size: 5rem;
			}

			p {
				font-size: 1.5rem;
			}
		}

		button {
			font-size: 2.5rem;
			padding: 1.5rem;
		}
	}

	.about {
		.icons:nth-child(2) {
			left: 25%;
		}

		.icons:nth-child(3) {
			left: 72%;
		}

		.icons:nth-child(4) {
			left: 72%;
		}

		&__block {
			width: 70%;
		}

		&__block:nth-child(even) {
			margin-left: 25%;
		}

		&__block:nth-child(odd) {
			margin-right: 25%;
		}
	}

	.faq {
		.icons:nth-child(2) {
			top: 60%;
			left: 74%;
		}

		.icons:nth-child(3) {
			left: 21%;
		}

		.icons:nth-child(4) {
			left: 25%;
		}

		.about__block {
			margin: 5%;
		}

		.about__block:nth-child(even) {
			margin-right: 25%;
		}

		.about__block:nth-child(odd) {
			margin-left: 25%;
		}
	}

	.offers {
		&__cards {
			flex-direction: row;
			perspective: 900px;
		}

		.card {
			opacity: 0;
			transform: rotateY(-40deg);
			margin: 0 4rem;

			&:hover {
				transform: rotateY(0);
			}
		}

		.card:nth-child(1) {
			transform: rotateY(40deg);
		}

		.card:nth-child(1):hover {
			transform: rotateY(0deg);
		}
	}

	.contact {
		&__headings {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.footer {
		&__box {
			a {
				width: 50%;
			}

			img {
				width: 70%;
			}

			.footer__middle {
				font-size: 2.5rem;
				margin-bottom: 3rem;
			}

			.footer__copyright {
				font-size: 1.9rem;
			}
		}
	}
}
