@use 'colors' as *;

@media (min-width: 576px) {
	nav {
		.navbar {
			&__logo {
				img {
					width: 50%;
				}
			}
		}
	}

	.header {
		&__text {
			padding-right: 5%;
			padding-left: 10%;
		}
	}
}
