@use './colors' as *;

a {
	color: black;
	text-decoration: none;
}

::placeholder {
	color: rgb(255, 255, 255, 0.5);
	font-style: italic;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	// font-size: 62.5%;
	scroll-behavior: smooth;
}

.login {
	height: 100vh; //temporary
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	background: rgb(13, 27, 39);
	background: radial-gradient(
		circle,
		rgba(13, 27, 39, 1) 0%,
		rgba(13, 14, 39, 1) 39%,
		rgba(11, 10, 29, 1) 71%,
		rgba(9, 18, 27, 1) 100%
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.form-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 35rem;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 3rem 6.4rem;

	.box-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 7rem;
		border: 1px solid #fff;
		border-radius: 50%;

		.fa-user {
			font-size: 4rem;
			color: $white;
		}
	}

	.login__title {
		text-align: center;
		margin-bottom: 3.2rem;
		color: #fff;
		padding-top: 20px;
	}

	.input-form {
		width: 100%;
		border: 0;
		background: transparent;
		padding: 2px 0.5rem;
		color: $white;

		&:focus {
			outline: none;
		}
	}

	.login__error--username,
	.login__error--password {
		display: none;
	}

	.box-helper-elements {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 3.2rem;

		.login__checkbox {
			margin: 0;
		}
	}

	.login__label--text,
	.login__a--passwordrecovery,
	.login__a--register {
		color: $white;
	}

	.Login__btn {
		margin-bottom: 3.2rem;
		background: transparent;
		border: 1px solid #ffffff9a;
		color: $white;
		border-radius: 2px;
		padding: 10px 30px;
		cursor: pointer;
	}

	.login__input--username {
		margin-bottom: 2rem;
	}

	.login__input--password {
		margin-bottom: 10px;
	}
	.login__input--password,
	.login__input--username {
		display: flex;
		width: 100%;
		padding: 0.1rem;
		border-bottom: 1px solid #fff;

		.fa-solid {
			color: white;
		}
	}
}

//2 checkboxy - mam 18 lat, zgoda na przetwarzanie danych
