@use 'colors' as *;

@keyframes rotateRight {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

@keyframes rotateLeft {
	from {
		rotate: 0deg;
	}

	to {
		rotate: -360deg;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $primary;
	color: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section {
	scroll-margin-top: 87px;

	&__heading {
		padding: 50px;
		text-align: center;
		font-weight: 400;
		font-size: 5rem;
		font-family: 'Open Sans', sans-serif;
		cursor: default;
	}

	&__cutter {
		position: absolute;
		height: 40px;
		width: 100%;
		background-color: $primarydarker;
		z-index: -5;
		box-shadow: 0 0 20px $dark;

		&-shadowbottom {
			position: absolute;
			bottom: 40px;
			width: 100%;
			height: 80px;
			z-index: 10;
			overflow: hidden;

			.section__cutter-middle {
				position: absolute;
				bottom: 0;
				transform: translate(-50%, 0);
				height: 40px;
				width: 30%;
				background-color: $primarydarker;

				&-right {
					left: 19%;
					transform: skew(-45deg);
					box-shadow: 0 0 20px $dark;
				}

				&-left {
					right: 19%;
					transform: skew(45deg);
					box-shadow: 0 0 20px $dark;
				}

				&-center {
					left: 40%;
					z-index: 10;
				}
			}
		}

		&-bottom {
			bottom: 0;
		}

		&-top {
			top: 0;
		}

		&-shadowtop {
			position: absolute;
			top: 40px;
			width: 100%;
			height: 80px;
			z-index: 10;
			overflow: hidden;

			.section__cutter-right {
				position: absolute;
				top: 0;
				right: -50px;
				height: 40px;
				width: 30%;
				background-color: $primarydarker;
				transform: skew(45deg);
				overflow: hidden;
				box-shadow: 0 0 20px $dark;
			}

			.section__cutter-left {
				position: absolute;
				top: 0;
				left: -50px;
				height: 40px;
				width: 30%;
				background-color: $primarydarker;
				transform: skew(-45deg);
				box-shadow: 0 0 20px $dark;
			}
		}
	}
}

nav {
	position: fixed;
	width: 100%;
	// scale: 1.3;
	padding-top: 2rem;
	transition: background-color 0.3s, box-shadow 0.3s, padding-top 0.3s;
	z-index: 1000;

	.navbar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 3rem;
		transition: scale 0.3s;

		&__logo {
			display: flex;
			justify-content: flex-start;
			width: 50%;
			padding: 3rem;

			a {
				display: flex;
				justify-content: flex-start;
				align-content: center;
			}

			img {
				width: 100%;
			}
		}

		&__menu {
			display: none;

			a {
				position: relative;
			}

			a::after,
			a::before {
				content: '';
				position: absolute;
				bottom: 0.5em;
				height: 3px;
				width: 100%;
				background-color: $white;
				transform: scaleX(0);
				transition: transform 0.5s;
			}

			a::after {
				left: 50%;
				transform-origin: left;
			}

			a::before {
				right: 50%;
				transform-origin: right;
			}

			a:hover::after,
			a:hover::before {
				transform: scaleX(0.4);
			}

			a:hover::after {
				transform-origin: left;
			}

			a:hover::before {
				transform-origin: right;
			}
		}

		&__account {
			display: none;

			a {
				position: relative;
				padding: 10px;
				text-transform: uppercase;
				cursor: pointer;
				text-decoration: none;
				color: $white;
			}

			a::after,
			a::before {
				content: '';
				position: absolute;
				bottom: 0.1em;
				height: 3px;
				width: 100%;
				background-color: $white;
				transform: scaleX(0);
				transition: transform 0.5s;
			}

			a::after {
				left: 50%;
				transform-origin: left;
			}

			a::before {
				right: 50%;
				transform-origin: right;
			}

			a:hover::after,
			a:hover::before {
				transform: scaleX(0.5);
			}

			a:hover::after {
				transform-origin: left;
			}

			a:hover::before {
				transform-origin: right;
			}
		}

		&__burger {
			display: flex;
			justify-content: flex-end;
			width: 50%;

			&-icon {
				padding: 20px;
				cursor: pointer;
			}
		}

		&__mobile {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			background-color: $primarybrighter;
			transform: translateX(100%);
			transition: 0.3s ease-out;
			z-index: 100;

			&--active {
				transform: translateX(0);
			}

			&-close {
				position: absolute;
				top: 0;
				right: 0;
				padding: 2rem 4rem;
				font-size: 5rem;
				cursor: pointer;
			}

			a {
				position: relative;
				padding: 2rem;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 3rem;
				color: $white;
			}

			a::after {
				content: '';
				position: absolute;
				bottom: 0.5em;
				left: 0;
				height: 3px;
				width: 100%;
				background-color: $white;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.5s;
			}

			a:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}

			a:hover {
				color: $white;
			}
		}
	}

	// .navbar__scroll {
	// 	font-size: 1rem;
	// }
}

.nav__scroll {
	background-color: #0b111a;
	box-shadow: 0 0 20px $dark;
	padding-top: 0;
}
.navbar__scroll {
	scale: 0.8;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url('../img/header_mini.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px $dark;

	&__text {
		margin-top: 12rem;
		padding: 3rem;
		cursor: default;

		h2 {
			text-transform: uppercase;
			font-size: 2rem;
		}

		h1 {
			text-transform: uppercase;
			font-size: 3rem;

			span {
				white-space: nowrap;
			}
		}

		&-bold {
			font-weight: bold;
		}

		p {
			font-size: 1.5rem;
		}
	}

	&__socials {
		padding: 10px 0;

		a {
			margin-right: 20px;
			font-size: 2.5rem;
			color: $white;
			transition: font-size 0.3s, color 0.3s;
		}

		a:hover {
			color: $whitedarker;
			font-size: 2.42rem;
		}
	}

	button {
		margin: 3rem 0;
		padding: 2rem;
		border-radius: 45px;
		border: transparent;
		box-shadow: 0 0 14px $secondary;
		text-transform: uppercase;
		font-family: 'League Spartan', sans-serif;
		font-size: 2rem;
		font-weight: bold;
		background-color: $secondary;
		text-shadow: 2px 2px 3px black;
		cursor: pointer;
		transition: box-shadow 0.3s;

		a {
			color: $white;
			text-decoration: none;
			transition: color 0.3s;
		}
	}

	button:hover {
		box-shadow: 0 0 5px $secondary;

		a {
			color: $whitedarker;
		}
	}
}

.about {
	position: relative;
	padding: 4rem 0;

	.icons {
		position: absolute;
		animation: rotateLeft 45s infinite linear;
		color: rgba(255, 255, 255, 0.2);
		z-index: -1;
	}

	.icons:nth-child(2) {
		top: 50%;
		left: 20%;
		rotate: -80deg;
		font-size: 8rem;
		animation: rotateRight 45s infinite linear;
		animation-delay: -20s;
	}

	.icons:nth-child(3) {
		top: 80%;
		left: 70%;
		rotate: 140deg;
		font-size: 12rem;
		animation-delay: -10s;
	}

	.icons:nth-child(4) {
		top: 20%;
		left: 62%;
		rotate: 20deg;
		font-size: 10rem;
		animation-delay: -40s;
	}

	&__blocks {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 2rem;
		padding-bottom: 5rem;
	}

	&__block {
		padding: 20px;
		margin: 5%;
		border-radius: 20px;
		background-color: rgba(21, 44, 64, 0.6);
		transition: background-color 0.3s;
	}

	&__block:hover {
		background-color: $primary;
		box-shadow: 0 0 20px $primarybrighter;
	}
}

.faq {
	.icons:nth-child(2) {
		top: 50%;
		left: 70%;
	}

	.icons:nth-child(3) {
		top: 80%;
		left: 20%;
	}

	.icons:nth-child(4) {
		top: 20%;
		left: 31%;
		rotate: 20deg;
	}

	&__text p {
		margin-bottom: 1em;
	}

	&__text .question__title,
	&__text span {
		font-weight: bold;
	}

	.about__block span {
		color: skyblue;
	}
}

.offers {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('../img/cards.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px $dark;
	color: #ffffff;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 5rem;
	}

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		min-width: 300px;
		max-width: 350px;
		margin: 4rem;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		box-shadow: 0 0 20px $dark;
		transition: transform 0.3s;

		&:hover {
			transform: rotateY(0);
		}

		&__body {
			font-family: 'Open Sans', sans-serif;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-transform: uppercase;
			padding: 40px 0;

			h2 {
				text-align: center;
				margin-bottom: 5px;
				font-size: 40px;
			}

			ul {
				font-size: 1.4rem;
				margin-bottom: 5px;
				padding: 0 1.4em;
				text-align: left;
				margin-top: 20px;

				li {
					margin: 10px;

					span {
						color: $secondary;
						font-weight: bold;
					}
				}
			}
		}

		.card__footer {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: auto;

			button {
				width: 150px;
				padding: 1rem;
				margin-bottom: 15px;
				font-size: 1.7rem;
				border-radius: 10px;
				text-transform: uppercase;
				background-color: rgb(164, 35, 18, 0.75);
				color: $white;
				border: transparent;
				font-weight: bold;
				box-shadow: 0 0 10px $secondary;
				cursor: pointer;
				transition: box-shadow 0.3s, background-color 0.2s;
			}

			button:hover {
				box-shadow: 0 0 15px $secondarydarker;
				background-color: $secondarydarker;
			}
		}
	}
}

.contact {
	position: relative;
	padding: 4rem 0 14rem;

	form {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		padding: 1rem;

		textarea {
			min-height: 20rem;
			min-width: 100%;
			max-width: 100%;
		}

		button {
			width: 50%;
			background: linear-gradient(90deg, $thirddarker, transparent, $thirddarker) $third;
			opacity: 0.8;
			padding: 1rem;
			border-radius: 8px;
			text-transform: uppercase;
			font-size: 2.5rem;
			cursor: pointer;
			border: none;
			color: $primary;
			transition: color 0.3s, box-shadow 0.2s, background-color 0.3s;
			place-content: center;
		}

		button:hover,
		button:focus {
			background-color: $thirddarker;
			box-shadow: 0 0 10px $thirddarker;
			outline: none;
		}
	}

	&__inputs {
		background: linear-gradient(90deg, $thirddarker, transparent, $thirddarker) $third;
		border-radius: 8px;
		padding: 1rem;
		border: none;
		font-size: 2.5rem;
		transition: box-shadow 0.2s, background-color 0.3s;
	}

	&__inputs::placeholder {
		color: $primary;
	}

	&__inputs:focus {
		background-color: $thirddarker;
		box-shadow: 0 0 10px $thirddarker;
		outline: none;
	}

	&__error {
		font-size: 2.5rem;
		color: $third;
	}

	&__element {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 1rem;
		width: 100%;

		&-button {
			display: flex;
			justify-content: flex-end;
			padding: 1rem;
		}
	}

	&__headings {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__heading {
		width: 100%;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../img/footer-desktop.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 15px black;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 6rem;
		text-align: center;

		a {
			padding-top: 2rem;
			width: 50%;
		}

		img {
			width: 80%;
			margin-bottom: 1.5rem;
		}

		.footer__middle {
			font-size: 2rem;
			margin-bottom: 30px;
		}

		.footer__copyright {
			font-size: 1.4rem;
		}
	}
}

@import 'small';
@import 'medium';
@import 'large';
