* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #ccc8c8;
}

.cards {
	display: flex;
	justify-content: center;
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('../img/cards.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px black;
	perspective: 900px;
	// height: 70%;
	color: white;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 250px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	transform: rotateY(-40deg);
	transition: transform 0.3s;
	min-width: 20%;

	&:hover {
		transform: rotateY(0);
	}

	&__body {
		font-family: 'Open Sans', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		padding: 40px 0;

		h2 {
			text-align: center;
			margin-bottom: 5px;
			font-size: 40px;
		}

		ul {
			font-size: 12px;
			margin-bottom: 5px;
			padding: 1.4em;
			text-align: center;
			margin-top: auto;

			li {
				margin: 10px;

				span {
					color: rgb(255, 0, 0);
					font-weight: bold;
				}
			}
		}
	}

	.card__footer--premium,
	.card__footer--basic {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: auto;

		button {
			width: 150px;
			padding: 6px;
			margin-bottom: 15px;
			font-size: 1.7rem;
			border-radius: 10px;
			text-transform: uppercase;
			background-color: black;
			color: #ccc8c8;
			font-weight: bold;
			cursor: pointer;
			transition: color 0.2s, box-shadow 0.3s;
		}

		button:hover {
			color: #a10808b0;
		}
	}
}
